<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10;url=/" />
    <title>Synch your Twitter Bookmarks with you Obsidian Vault.</title>
    <link href="/style.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
    <body>
        <div class="page-container">
            <main>
                <h1>Oops! Something went wrong.</h1>
                <div id="frame">
                    <div id="main-box">
                        <p>It looks like something went wrong while processing your request 😢</p>
                        <p>Please make sure that you followed all the configuration steps before trying again.</p>
                    </div>
                </div>
            </main>

            <footer class="py-5">
                <p>Build by 0xRusowsky</p>
            </footer>              
        </div>
        <div class="social-footer">
            <div class="icons">
              <a href="https://twitter.com/0xrusowsky">
                <i class="fa fa-twitter"></i>
              </a>
              <a data-url="">
                <i class="fa fa-github"></i>
              </a>
            </div>
        </div>
    </body>
</html>