<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Synch your Twitter Bookmarks with you Obsidian Vault.</title>
    <link href="/style.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
    <body>
        <div class="background-pattern">
                <main>
                    <h1 class="processing">  Processing your bookmarks<span>.</span><span>.</span><span>.</span></h1>
                    <div id="frame">
                        <div id="main-box">
                            <p>This process may take a few minutes, specially if it's the first time that you sync your bookmarks.</p>
                            <p>Please be patient 🥱</p>
                        </div>
                    </div>
                </main>

                <footer class="py-5">
                    <p>Built by 0xRusowsky</p>
                </footer>
        </div>
        <div class="social-footer">
            <div class="icons">
              <a href="https://twitter.com/0xrusowsky">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://github.com/0xRusowsky/bookmarks-to-obsidian">
                <i class="fa fa-github"></i>
              </a>
            </div>
        </div>
    </body>
</html>